body {
    font-family: 'Yantramanav', sans-serif;
    background-image: url("../images/picture.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

h1 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 44px;
    padding-left: 20px;
    color: #272B3D;
}

.navigation { 
    background: transparent;
}

.employeeName, 
.restaurantSuggestion {
    width: 450px;
    background: rgba(0,0,0,.5);
}