@font-face {
    font-family: "governor";
    src: url('../images/governor.ttf');
    }

@font-face {
    font-family: "moon";
    src: url('../images/moon.otf');
}

@font-face {
    font-family: "quick";
    src: url('../images/Quick.otf');
}

body {
    font-family: "moon";
    background-image: url("../images/picture3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-color: #6FD6FF;
}

.navText {
    color: #FFFFFF;
    font-weight: bold;
    font-family: "quick";
    padding-right: 20px;
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: "governor";
    font-size: 44px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0 auto;
}

.navbar { 
    background: transparent;
}

.card,
#employeeName, 
#restaurantSuggestion {
    background: rgba(255, 255, 255, 0.8);
}

.btn-lg {
    font-family: 'Rubik Mono One', sans-serif;
    background: #273854;
    width 100%;
}

#suggest,
#voteNow {
    background: #FFFFFF;
    color: #6FD6FF;
    letter-spacing: 2px;
}

#suggest {
    margin-left: 20px;
}

#voteNow {
    margin-right: 20px;
}

form,
.marginPlz {
    margin-top: 10%;
}

.hide {
    display: none;
}

.cardstyle {
    margin: 20px;
    max-width: 350px;
    padding: 20px;
}

img {
    width:100%;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
  }
  
  .overlay {
    position: fixed; /* Sit on top of the page content */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
  }


  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

/* MOBILE  */
@media (min-width: 480px) {
      
    /*.navbar-text {
        display: none;
    }*/
    
    h1 {
        text-align: center;
        margin: 30px;
    }

    #suggest,
    #voteNow,
    #employeeName,
    #restaurantSuggestion,
    #suggestSubmit {
        margin-bottom: 30px;
    }

    body {
    margin: 10px;

}


}


}