@font-face {
    font-family: "governor";
    src: url('../images/governor.ttf');
    }

@font-face {
    font-family: "moon";
    src: url('../images/moon.otf');
}


body {
    font-family: "moon";
    background-image: url("../images/picture3.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100%;
    background-color: #4DC5FE;
    color: #485975;
}

.navText {
    color: #FFFFFF;
    font-weight: bold;
    padding-bottom: 30px;
    padding-top: 2%;
    text-align: center;
    margin: 0 auto;
    letter-spacing: 2px;
}

h1 {
    font-family: "governor";
    font-size: 54px;
    letter-spacing: 3px;
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 2%;
    margin: 50px 0px 20px 0px;
    word-break: break-all;
}

.card,
#employeeName, 
#restaurantSuggestion {
    background: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
}

#employeeName, 
#restaurantSuggestion,
#suggestSubmit {
    margin-bottom: 30px;
}


#suggest2,
#suggestSubmit {
    width: 100%
}

#suggest2 {
    margin-bottom: 20px;
}

::placeholder { 
    color: #4DC5FE; 
} 

.btn-lg {
    width: 30%;
    border: 0;
    background: #FFFFFF;
    color: #4DC5FE;
    letter-spacing: 2px;
}

#suggest,
#voteNow {
    background: #FFFFFF;
    color: #4DC5FE;
    letter-spacing: 2px;
    margin-top: -40px;
    margin-bottom: 20px;
}

.suggestionForm {
    margin-top: -20px;
}

form,
.marginPlz {
    margin-top: 8%;
}

input.form-control::placeholder {
    color: #4DC5FE;
}

.hide {
    display: none;
}

#suggest,
#voteNow,
#employeeName,
#restaurantSuggestion,
#suggestSubmit {
    margin-bottom: 30px;
}

/* MOBILE  */
@media only screen and (max-width: 480px) {
      
    h1 {
        text-align: center;
        margin: 30px;
        font-size: 44px;
    }


    body {
        background-image: url("../images/picture4.jpg");
    }

    .hello {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .btn-lg {
        width: 100%;
    }

    #suggest {
        margin-top: 10px;
    }

    #voteNow {

    }